[submodule "SFND_3D_Object_Tracking"]
	path = SFND_3D_Object_Tracking
	url = https://github.com/stevenliu216/SFND_3D_Object_Tracking
[submodule "SFND_2D_Feature_Tracking"]
	path = SFND_2D_Feature_Tracking
	url = https://github.com/stevenliu216/SFND_2D_Feature_Tracking
[submodule "SFND_Lidar_Obstacle_Detection"]
	path = SFND_Lidar_Obstacle_Detection
	url = https://github.com/stevenliu216/SFND_Lidar_Obstacle_Detection
[submodule "SFND_Radar_Target_Generation_and_Detection"]
	path = SFND_Radar_Target_Generation_and_Detection
	url = https://github.com/stevenliu216/SFND_Radar_Target_Generation_and_Detection
[submodule "SFND_Unscented_Kalman_Filter"]
	path = SFND_Unscented_Kalman_Filter
	url = https://github.com/stevenliu216/SFND_Unscented_Kalman_Filter
